<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Georgia-Italic.ttf</string>
		<string>Georgia.ttf</string>
		<string>Georgia-Regular.ttf</string>
		<string>Georgia-Bold.ttf</string>
		<string>PlayFairDisplay-Bold.ttf</string>
		<string>Hind-Bold.ttf</string>
		<string>Hind-Light.ttf</string>
		<string>Hind-Medium.ttf</string>
		<string>Hind-Regular.ttf</string>
		<string>Hind-SemiBold.ttf</string>
	</array>
</dict>
</plist>
